.statue {
    background-color: lightgray;
    width: 60px;
    height: 60px;
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
    position: relative;
    i {
        position: absolute;
        top: 23%;
        left: 23%;
        font-size: 35px;
    }
}
.position {
    position: absolute;
    left: 3px;
    bottom: 3px;
    font-size: 9px;
}