<div class="container">
    <div class="col-md-12">
        <div class="col-md-8">
            <h1>Jobs</h1>
        </div>
        <div class="col-md-4">
            <!-- jobs search input -->
            <input (keyup.enter)="onSearch(keyword.value)" #keyword type="text" 
                class="form-control input-search" placeholder="search...">
        </div>
    </div>
    <app-jobs-list>
        <!-- show item of job -->
        <ng-container *ngIf="jobs.length != 0;else jobNotFound">
            <app-list-item *ngFor="let job of jobs;let i = index" [job]="job"></app-list-item>
        </ng-container>
        <ng-template #jobNotFound>
            <app-list-notfound></app-list-notfound>
        </ng-template>
        
    </app-jobs-list>
</div>