.item {
    background: #fff;
    border-radius: 2px;
    margin: 1rem;
    position: relative;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 10px;
    p {
        color: lightgray;
        i {
            vertical-align: bottom;
            color: lightgray;
        }
    }
  }